
        <div id="myCarousel" class="carousel slide row row3 quotes mt-5 pt-5" data-ride="carousel">
            <div class="carousel-inner col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
                                                                            <div class="carousel-item">
                        <div class="quote-wrapper">
                            <img title="Bozo Paradzik" alt="" class="img-fluid mr-5" src="https://cdn.shopify.com/s/files/1/0617/8445/7443/files/8e10e315369908544d5b88ff35cad942b7067f4a-bozoparadzik.jpg?v=1676310755">
                            <div class="text">    
                                <p>Diese Saiten sind absolute Spitzenklasse! </p>
                                <span>Bozo Paradzik</span>
                            </div>
                        </div>
                    </div>
                                                                            <div class="carousel-item active">
                        <div class="quote-wrapper">
                            <img title="Janne Saksala" alt="" class="img-fluid mr-5" src="https://cdn.shopify.com/s/files/1/0617/8445/7443/files/8a1ed82e25c5d36f72ddca6ab9eaa114c561aaa7-jannesaksala.jpg?v=1676310755">
                            <div class="text">    
                                <p>Es ist für einen Instrumentalisten wie mich Gold wert, jemanden zu haben, mit dem man sich so austauschen kann.</p>
                                <span>Janne Saksala</span>
                            </div>
                        </div>
                    </div>
                                                                            <div class="carousel-item">
                        <div class="quote-wrapper">
                            <img title="Petter Eldh" alt="" class="img-fluid mr-5" src="https://cdn.shopify.com/s/files/1/0617/8445/7443/files/c9ddbe9ae66080d60a7113642d61d9c36a264e51-petter.jpg?v=1676310834">
                            <div class="text">    
                                <p>Having a string maker knowing himself what he wants and having a sound in his head that he can put into his string making [...] those strings shaped everything, everything fell into place</p>
                                <span>Petter Eldh</span>
                            </div>
                        </div>
                    </div>
                                                                            <div class="carousel-item">
                        <div class="quote-wrapper">
                            <img title="François Rabbath" alt="" class="img-fluid mr-5" src="https://cdn.shopify.com/s/files/1/0617/8445/7443/files/e6737c6e352bdad3a029cab8b6ace9f51e46994a-fraincoisrabbath.jpg?v=1676310724">
                            <div class="text">    
                                <p>Le son de ma contrebasse a doublé de volume et la qualité sonore est devenue plus riche en harmonique<br>
(The sound of my doublebass has doubled its volume and has become more rich in overtones)</p>
                                <span>François Rabbath</span>
                            </div>
                        </div>
                    </div>
                                <div class="carousel-controls">
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>