<div class="mainwrap">
    <div class="container">
        <div class="row">
                <div class="col-10 offset-lg-1"><h2>Tempera Strings GmbH</h2></div>
                <div class="col-lg-4 offset-lg-1">
                    <p>+49 (0) 30 88697738&#x202C;<br>
tempera-strings.com<br>
<a href="mailto:contact@tempera-strings.com" class="mailto">contact@tempera-strings.com</a></p>
                    


                </div>
                <div class="offset-lg-1 col-lg-4 pb-5">

                    
                </div>
            
        </div>
        <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup" class="pt-5 mb-5 offset-lg-1">
                        <h2 class="mb-0 form-title">Newsletter</h2>
                        <form action="https://tempera-strings.us3.list-manage.com/subscribe/post?u=877d8ed99e457ff3052415d9b&amp;id=c2827d5577" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                            <div id="mc_embed_signup_scroll">
                                <div class="row">
                                    <div class="col-md-4 col-lg-3">
                                        <div class="mc-field-group">
                                            <label for="mce-FULLNAME">Full name</label>
                                            <input type="text" placeholder="type here" value="" name="FULLNAME" class="required" id="mce-FULLNAME">
                                        </div>
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">Email address</label>
                                            <input type="email" placeholder="type here" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="mc-field-group">
                                            <label for="mce-ARCO">Bow use </label>
                                            <select name="ARCO" class="" id="mce-ARCO">
                                            <option value=""></option>
                                            <option value="1">1 (pizz only)</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5 (arco only)</option>

                                            </select>
                                        </div>
                                        <div class="mc-field-group input-group">
                                            <strong>Who are you? </strong>
                                            <ul><li><input type="checkbox" value="1" name="group[30573][1]" id="mce-group[30573]-30573-0"><label for="mce-group[30573]-30573-0">Musician</label></li>
                                        <li><input type="checkbox" value="2" name="group[30573][2]" id="mce-group[30573]-30573-1"><label for="mce-group[30573]-30573-1">Instrument Maker / Distributor</label></li>
                                        </ul>
                                        </div>
                                    </div>
                                
                                
                                </div>


                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_877d8ed99e457ff3052415d9b_c2827d5577" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
    </div>
</div>









{% schema %}
  {
    "name": "contact",
    "settings": [
    
      
    ],
    
    "presets": [
      {
        "name": "contact"
      }
    ]
  }
{% endschema %}