<div class="mainwrap">
    <div class="container pb-5">
        <h1>FAQ</h1>
        <div class="content-wrap pb-5">
            
        </div>
        <div class="questions-wrap offset-lg-2 col-lg-8">

  {%- for block in section.blocks -%}
          {%- if block.type == "FAQ-Item" -%}        
                     <div class="question">
                <h2 data-toggle="collapse" href="#{{ block.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" class="collapsed rhch">{{ block.settings.fih }}</h2>
                <div class="multi-collapse collapse" id="{{ block.id }}" style="">
                    <p>{{ block.settings.fic }}</p>
                </div>
            </div>
       {%- endif -%}
        {%- endfor -%}   


                  

                    
                </div>
    </div>
</div>











{% schema %}
  {
    "name": "rh-custom-faq",
    "settings": [

            {
        "type": "text",
        "id": "head1",
        "label": "Main Heading",
        "default": "Frequently Aksed Questions"
      }
     
    ],
    "blocks" : [
      {
        "type": "FAQ-Item",
        "name": "Add FAQ",
        "settings": [
      {
            "type": "header",
            "content": "FAQ Content"
          },
          {
            "type": "text",
            "id": "fih",
            "label": "Item Heading",
            "default": "Item Heading"
          },
          {
            "type": "richtext",
            "id": "fic",
            "label": "Item Content",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          }
        ]
      }
      
      
      ],
    "presets": [
      {
        "name": "rh-custom-faq"
      }
    ]
  }
{% endschema %}