<div class="mainwrap">
    <div class="container pb-5">
        <h1>FAQ</h1>
        <div class="content-wrap pb-5">
            
        </div>
        <div class="questions-wrap offset-lg-2 col-lg-8">

          
                     <div class="question">
                <h2 data-toggle="collapse" href="#block1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" class="collapsed rhch">+ Why low tension?</h2>
                <div class="multi-collapse collapse" id="block1" style="">
                    <p>A lot could be written about this question, because it touches on big areas like string sound, acoustics and finally artistic issues.</p>
<p>In our opinion, today's trend of making double bass strings with over 30kg tension is absolutely not ideal, because the instrument's ability to vibrate is reduced and instead an unfree, compressed sound is produced.</p>
<p>We should also not ignore the fact that the conception of today's instruments comes from a time when playing was done on gut strings with about 18kg per string.
So the question is really, what is the "normal" tension for a string?</p>
                </div>
            </div>

          <div class="question">
                <h2 data-toggle="collapse" href="#block1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" class="collapsed rhch">+ Why low tension?</h2>
                <div class="multi-collapse collapse" id="block1" style="">
                    <p>A lot could be written about this question, because it touches on big areas like string sound, acoustics and finally artistic issues.</p>
<p>In our opinion, today's trend of making double bass strings with over 30kg tension is absolutely not ideal, because the instrument's ability to vibrate is reduced and instead an unfree, compressed sound is produced.</p>
<p>We should also not ignore the fact that the conception of today's instruments comes from a time when playing was done on gut strings with about 18kg per string.
So the question is really, what is the "normal" tension for a string?</p>
                </div>
            </div>
                    <div class="question">
                <h2 class="rhch" data-toggle="collapse" href="#block2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 rhch">+ Do you recommend Tempera Strings for Jazz players?</h2>
                <div class="collapse multi-collapse" id="block2">
                    <p>The Tempera Strings are currently available only as an arco-optimized version. A more pizz-friendly model is in developement but it might take a while to be released. You can sign up for the news letter or <a href="http://typeform.tempera-strings.com" target="_blank" rel="nofollow noopener noreferrer" class="external-link no-image">preorder</a>.
Or, if you are in a hurry, you can choose a pizz oriented model from the Sonores Workshop (<a href="https://www.sonores-strings.de" target="_blank" rel="nofollow noopener noreferrer" class="external-link no-image">www.sonores-strings.de</a></p>
                </div>
            </div>
                    <div class="question">
                <h2 class="rhch" data-toggle="collapse" href="#block3" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">+ How long do Tempera Strings last?</h2>
                <div class="collapse multi-collapse" id="block3">
                    <p>Our strings have a very long life span when treated well and mounted correctly. Please check out our instructions <a href="http://mount.tempera-strings.com" target="_blank" rel="nofollow noopener noreferrer" class="external-link no-image">here</a>.</p>
<p>The strings are designed to sound ideal not just in the first weeks, but AFTER the first weeks. Bear in mind that both new strings and the instrument itself need a few days to mature and acquire the desired sound.</p>
                </div>
            </div>
                    <div class="question">
                <h2 class="rhch" data-toggle="collapse" href="#block4" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 rhch">+ How do I clean the strings?</h2>
                <div class="collapse multi-collapse" id="block4">
                    <p>Alcohol is best for cleaning. </p>
                </div>
            </div>
                    <div class="question">
                <h2 class="rhch" data-toggle="collapse" href="#block5" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 rhch">+ Do you ship to... ?</h2>
                <div class="collapse multi-collapse" id="block5">
                    <p>We do ship to (nearly) any country in the world. In some cases though, it might be easier to contact one of our <a href="/en/partners">partners</a> in your area.</p>
                </div>
            </div>
                    <div class="question">
                <h2 class="rhch" data-toggle="collapse" href="#block6" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 rhch">+ Shipping costs</h2>
                <div class="collapse multi-collapse" id="block6">
                    <p>Shipping costs are borne by the buyer and depend on the destination country.
For exact shipping cost to you, please feel free to <a href="/en/contact">contact us</a>.</p>
                </div>
            </div>
                    <div class="question">
                <h2 class="rhch" data-toggle="collapse" href="#block7" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 rhch">+ Warranty</h2>
                <div class="collapse multi-collapse" id="block7">
                    <p>We currently don't give a warranty on the <strong>Tempera</strong> strings.</p>
                </div>
            </div>
                    <div class="question">
                <h2 class="rhch" data-toggle="collapse" href="#block8" role="button" aria-expanded="false" aria-controls="multiCollapseExample1 rhch">+ Endorsements / Test sets</h2>
                <div class="collapse multi-collapse" id="block8">
                    <p>Due to the significantly complex production process, we don't give away strings for free. If you are interested in testing out our strings, you can either visit us in Berlin or one of our <a href="/en/partners">partners</a>.</p>
                </div>
            </div>
                </div>
    </div>
</div>











{% schema %}
  {
    "name": "rh-custom-faq",
    "settings": [

            {
        "type": "text",
        "id": "head1",
        "label": "Main Heading",
        "default": "Frequently Aksed Questions"
      }
     
    ],
    "blocks" : [
      {
        "type": "FAQ-Item",
        "name": "Add FAQ",
        "settings": [
      {
            "type": "header",
            "content": "FAQ Content"
          },
          {
            "type": "text",
            "id": "fih",
            "label": "Item Heading",
            "default": "Item Heading"
          },
          {
            "type": "richtext",
            "id": "fic",
            "label": "Item Content",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          }
        ]
      }
      
      
      ],
    "presets": [
      {
        "name": "rh-custom-faq"
      }
    ]
  }
{% endschema %}