
<div class="normalwrap">
    
    
 
   
    <div class="clearfix"></div>
    
</div>
{% schema %}
  {
    "name": "tempera-home",
    "settings": [
    
      {
        "type": "text",
        "id": "a1",
        "label": "Heading",
        "default": "Heading"
      }
      
    ],
    
    "presets": [
      {
        "name": "tempera-home"
      }
    ]
  }
{% endschema %}






