

<div class="mainwrap">
    <div class="intro d-none d-md-flex show">
<aside class="tempera">
            
        <span class="show1">T</span><span class="show1">E</span><span class="show2">M</span><span class="show4">P</span><span class="show3">E</span><span class="show1">R</span><span class="show3">A</span></aside>
                <div class="intro-bottom container-fluid">
            <div class="row">
                <div class="left col-3">TEMPERA</div>
                <div class="copyright col-7">
                        
                </div>
                
                <div class="right col-2 text-right d-none d-lg-flex">

                    <a href="#" data-featherlight="#mc_embed_signup-popup" class="newsletter">Subscribe Newsletter</a>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row row-first">
            <div class="infotext col-12 col-sm-9 col-xl-6">
                <p>Musical Strings with gut aesthetics for modern string playing.</p>
<p>Reminiscent of gut-string aesthetics but with much easier handling for modern string playing.<br>
Lower tension, high flexibility and the maximum of possibilities for the musicians to express themselves.</p>
<p>Tempera Strings set a new standard for orchestra and solo string players.</p>

            </div>
        </div>
    </div>
    <div class="container-fluid sections-wrapper">
        <div class="row">
            <a class="section about col-9 col-md-4 col-xxl-3 pb-4" href="/about">
                <h2>About</h2>
                Tempera Strings are designed and produced in Berlin, Germany.
            </a>
            <a class="section order col-9 col-md-4 col-xxl-3 pb-4" href="/order">
                <h2>Order</h2>
                Currently available for double bass in orchestra and in solo version.
            </a>
        </div>
    
        <div class="row row2">

            <a class="section partner offset-md-4 col-md-4 offset-xxl-3 col-xxl-3 pb-4" href="/partner">
                <h2>Partners</h2>
                For customers outside of Germany, you can contact our trained partners to order our strings.
            </a>
            <a class="section contact col-md-4 col-xxl-3 pb-4" href="/contact">
                <h2>Contact</h2>
                If you have any questions regarding our strings or partnership, don’t hesitate to call us or write us an email.
            </a>
        </div>
{% include 'review' %}

    </div>
    <div class="clearfix"></div>
    <div class="image-wrapper">
        <img class="bass1 backgrounds" src="https://cdn.shopify.com/s/files/1/0617/8445/7443/files/bassist1.svg?v=1676300894"> 
        <img class="bass2 backgrounds d-none d-md-block" src="https://cdn.shopify.com/s/files/1/0617/8445/7443/files/bassonly.svg?v=1676300893"> 
        <img class="bass3 backgrounds" src="https://cdn.shopify.com/s/files/1/0617/8445/7443/files/bassist1.svg?v=1676300894"> 
    </div>
</div>






{% schema %}
  {
    "name": "tempera-home",
    "settings": [
    
      {
        "type": "text",
        "id": "a1",
        "label": "Heading",
        "default": "Heading"
      }
      
    ],
    
    "presets": [
      {
        "name": "tempera-home"
      }
    ]
  }
{% endschema %}