<style>
.order .mainwrap h1 {
    font-family: 'Marian Web 1554';
}
  .order .stringcolumn {
    background-color: #fff;
}
  .order .infoarea span {
    color: #fff !important;
  }
  .order .infoarea p, .order .infoarea a {
    color: #fff !important;
    font-size: 24px;
    line-height: 1.6em;
}

  .order .mainwrap {
    padding: 0 !important;
    background: transparent;
}
  @media only screen and (max-width: 600px) {
    .video {
    display: none;
}
  .infoarea.basso.pb-lg-0.pb-5 p {
    color: #000 !important;
}
  .infoarea.solo.pb-lg-0.pb-5{
     color: #000 !important;
  }
  .order .infoarea p, .order .infoarea a {
    color: #000 !important;
  }
}
</style>


<div class="mainwrap">
    <div class="basso stringcolumn text-center p-lg-0 pb-5 pt-5 hove" id="basso">
        <span class="mt-5"> </span>
        <div>
            <h1>Tempera<br>Basso</h1>
            <h2>(C) E A D G</h2>
        </div>
        <div class="buttons mb-5">
            <a class="typeform-share link order" href="https://form.typeform.com/to/rWK1Zx?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Order</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

                                      <a class="button info" href="#">More Info</a>
        </div>


    </div>
    <div class="infoarea basso pb-lg-0 pb-5">
            <p>After years of research, the Tempera BASSO was developed to establish a new sound ideal in the orchestra.<br>#clarity #definition #modulation #quickresponse #tuningstability.</p>
<p><strong>Tension:</strong> 22-23kg<br>
<strong>Material:</strong> Synthetic core and a few secrets.<br>
<strong>Tuning:</strong> E-A-D-G (with optional low C/B string or C Extension)</p>
            
            <div class="border p-2">
                <p>4-String-Set: <b>€400,00€</b> <span>(incl. German VAT: €476,00)</span> <br>
5-String-Set: <b>€550,00€</b> <span>(incl. German VAT: €654,50)</span></p>
            </div>
            <a class="typeform-share link order d-lg-none" href="https://form.typeform.com/to/rWK1Zx?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Order</a>
    </div>
    <div class="solo stringcolumn text-center p-lg-0 pb-5 pt-5" id="solo">
        <span class="mt-5"> </span>
        <div>
            <h1>Tempera<br>Solo</h1>
            <h2>F# B E A</h2>
        </div>
        <div class="buttons mb-5">
            
                         
             <a class="typeform-share link order" href="https://form.typeform.com/to/rWK1Zx?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Order</a>
             <a class="button info" href="#">More Info</a>
        </div>
    </div>
    <div class="infoarea solo pb-lg-0 pb-5">
                        <p><em>The Solo model is designed to assert itself with a brilliant and open sound, purposely separating itself tonally from other instruments. It caters to a generation of players who are only satisfied with the maximum of possibilities to express themselves. The whole range from the finest pianissimo to the wildest fortissimo. </em></p>
<p><strong>Tension:</strong> 23kg<br>
<strong>Material:</strong> Synthetic core and a few secrets.
<strong>Tuning:</strong> F#-B-E-A</p>
            
            <div class="border p-2">
                <p>4-String-Set: <b>€400,00€</b> <span>(incl. German VAT: €476,00)</span></p>
            </div>
            <a class="typeform-share link order d-lg-none" href="https://form.typeform.com/to/rWK1Zx?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Order</a>
            
    </div>
    <div class="clearfix"></div>    
            
           
     
</div>




{% schema %}
  {
    "name": "order",
    "settings": [
    
      {
        "type": "text",
        "id": "a1",
        "label": "Heading",
        "default": "Heading"
      }
      
    ],
    
    "presets": [
      {
        "name": "order"
      }
    ]
  }
{% endschema %}