<div class="mainwrap">
    <div class="container pb-5">

        <div class="row ">
            
         <div class="col-lg-6 mt-5">
           <h2 class="rhch">{{ section.settings.t1 }}</h2>
            <p>{{ section.settings.c1 }}</p>
          </div>

          
                <div class="col-lg-6 mt-5">
                    <h2 class="rhch">{{ section.settings.t2 }}</h2>
                        {{ section.settings.c2 }}
                </div>
                    </div>
    </div>
</div>


{% schema %}
  {
    "name": "rh-dynamic-partner",
    "settings": [
         {
            "type": "header",
            "content": "Column One"
          },
          {
            "type": "text",
            "id": "t1",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "c1",
            "label": "Item Content",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "header",
            "content": "Column Two"
          },
                    {
            "type": "text",
            "id": "t2",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "c2",
            "label": "Item Content",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          }
    ],
    
    "presets": [
      {
        "name": "rh-dynamic-partner"
      }
    ]
  }
{% endschema %}