<div class="mainwrap">
    <div class="container pb-5">

        <div class="row ">
            
                            <div class="col-lg-6 mt-5">
                    <h2 class="rhch">Luthiers / Instrument makers</h2>
<p>Tempera strings won't be sold on any online store. We prefere to work together with professional instrument makers who are interested in sound as we are.
We will soon release a list of partners here as soon. If you are interested in collaboration with us, please <a href="/en/contact">contact</a> us. Lets speak about it.</p>
<p>An instrument is a system of many elements interacting with each other. The strings play an important role in this, but in spite of everything we are strongly dependent on a good setup and therefore on luthiers who know their craft.</p>

                </div>
                <div class="col-lg-6 mt-5">
                    <h2 class="rhch">Musicians</h2>
<p>If want to try out the Tempera Strings, there is an easy way to do this:  </p>
<p><strong>Speak with your favorite bass maker / luthier about it.</strong>  </p>
<p>We are interested to collaborate with instrument makers all over the world to ensure a perfect setup for the needs of our material on the instruments.</p>
                </div>
                    </div>
    </div>
</div>


{% schema %}
  {
    "name": "rh-dynamic-partner",
    "settings": [
         {
            "type": "header",
            "content": "Column One"
          },
          {
            "type": "text",
            "id": "t1",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "c1",
            "label": "Item Content",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "header",
            "content": "Column Two"
          },
                    {
            "type": "text",
            "id": "t2",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "c2",
            "label": "Item Content",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          }
    ],
    
    "presets": [
      {
        "name": "rh-dynamic-partner"
      }
    ]
  }
{% endschema %}